<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/atm.css}" rel="stylesheet" />   
    <title>Cambiar PIN</title>
</head>
<body>
  
    <h3>Cambiar PIN</h3>            
    <form th:action="@{/cambiarPin}" th:object="${cambioPinForm}" method="POST">
        <label for="pinActual">PIN Actual:</label>
        <input type="password" id="pinActual" name="pinActual" th:field="*{pinActual}" required><br><br>
                
        <label for="nuevoPin">Nuevo PIN:</label>
        <input type="password" id="nuevoPin" name="nuevoPin" th:field="*{nuevoPin}" required><br><br>
                
        <label th:if="${missatge}" th:text="${missatge}"></label>
        <br><br>
        <button type="submit">Confirmar</button>
    </form>

    <a href="/operacions">Cancelar</a>

</body>
</html>
