<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/atm.css}" rel="stylesheet" />   
    <title>Banc | Operacions</title>
</head>
<body>
  
    <div class="container">
        <div class="column" id="buttons-column-1">
            <a href="/ingressar" class="button1">Ingressar ></a>
            <a href="/transferencia" class="button1">Transferencia ></a>
            <a href="/moviments" class="button1">Moviments ></a>
            <div class="button"></div>
         </div>

         <div style="text-align: center; height: auto;" class="column" id="form-column">  
            <h2>OPERACIONS</h2>
            <h3>Hola, <label th:if="${usuari}" th:text="${usuari}"></label> 😊</h3>  
            <p style="text-align: center; margin-top: 170px;"> Selecciona una Operació</p>
        </div> <br>

        <div class="column" id="buttons-column-3"> 
            <a href="/retirar" class="button1">< Retirar</a>          
            <a href="/cambiarpin" class="button1">< Canviar PIN</a>
            <a href="#" class="button"></a>
            <a href="/" class="button" id="red-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color:#ff0000;"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                <label>Cancel·lar</label>
            </a>
            </div>
    </div>

</body>
</html>