<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/atm.css}" rel="stylesheet" />   
    <title>Banc | Operacions</title>
</head>
<body>
  
    <div class="container">
        <div class="column" id="buttons-column-1">
            <a href="/ATM/ingressar" class="button1">Ingressar ></a>
            <a href="/ATM/transferencia" class="button1">Transferencia ></a>
            <a href="/ATM/moviments" class="button1">Moviments ></a>
            <a href="/ATM/consulta" class="button1">Consulta ></a>
         </div>

         <div style="text-align: center; height: auto;" class="column" id="form-column">  
            <h2>OPERACIONS</h2>
            <h3>Hola <label th:if="${usuari}" th:text="${usuari}"></label> 😊</h3>  
            <p style="text-align: center; margin-top: 170px;"> Selecciona una Operació</p>
        </div> <br>

        <div class="column" id="buttons-column-3"> 
            <a href="/ATM/retirar" class="button1">< Retirar</a>          
            <a href="/ATM/canviPin" class="button1">< Canvi PIN</a>
            <a href="/ATM/saldo" class="button1">< Saldo</a>
            <a th:href="@{/ATM/logout}" class="button" id="custom-button" onclick="return confirm('¿Estàs segur que vols tancar la sessió?')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: #ff5500;"> <!-- Cambia el color del ícono -->
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <label style="color: #ff5500;">Logout</label>
            </a>
            
            
            </div>
    </div>

</body>
</html>
