
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/atm.css}" rel="stylesheet" />   
    <title>ATM | Saldo</title>
</head>
<body>
  
    <div class="container1">
        <div class="column" id="buttons-column-1">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
         </div>

        <div class="column" id="form-column">              
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="padding: 4px;">Numero Compte</th>
                        <th style="padding: 4px;">Saldo (€)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if = "${comptes.empty}">
                        <td colspan="2">No s'han trobat comptes.</td>
                    </tr>
                    <tr th:each ="compte : ${comptes}">
                        <td style="padding: 4px;"><span th:text="${compte.numero}"></span></td>
                        <td style="padding: 4px;"><span th:text="${compte.saldo}"></span></td>
                        <td style="padding: 4px;"><span></span></td>
                    </tr>
                    <tr>
                        <td style="padding: 4px;">Saldo total: </td>
                        <td style="padding: 4px;"><span th:text="${saldo}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="column" id="buttons-column-3">           
            <a href="#" class="button"></a>
            <a href="#" class="button"></a>
            <a href="#" class="button"></a>
            <a href="/ATM/operacions" class="button" id="red-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color:#ff0000;"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                <label>Cancel·lar</label>
            </a>
            </div>
    </div>

</body>
</html>


